@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#101322] text-white;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #111422;
}

::-webkit-scrollbar-thumb {
  background: #323b67;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1337ec;
}
